<%= render "layouts/homepage_navbar" %>
<div class="get-quote">
  <div class="build-together-text-container">
    <span class="build-together-text">Get a website tailored <br>to your needs</span>
    <span class="medium-sized white slogan">Let me worry about the website. You worry about the rest.</span>
    <%= link_to contact_path, class:"btn btn-lg simple-button", id:"get-quote-button" do%>
      <span class="button-text">
        get a quote now
      </span>
    <%end%>
  </div>
</div>
<%= render "layouts/footer" %>
