<%= render "layouts/navbar" %>
<div class="portfolio page-content">
  <div class="project">
    <div class="project-title-container">
      <span class="project-title page-title">E-Commerce</span>
    </div>
    <div class="project-image-container">
      <%= image_tag('e-commerce.jpg', :class=>"project-image")%>
    </div>
    <div class="project-details-container">
      <span class="key-features-title">
        Key Features
      </span>
      <ul class="feature-list">
        <li class="feature">Automatic Shipping Rate Calculation</li>
        <li class="feature">Secure Online Payment</li>
        <li class="feature">Supports all Main Currencies</li>
        <li class="feature">Automatic Tracking Updates Sent to Customer</li>
      </ul>
      <div class="go-to-site-button-container">
        <a href="https://still-garden-48532.herokuapp.com" class="btn btn-lg simple-button" id="go-to-site">
          <span class="button-text">
            Go To Site
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="new-project">
    <div class="get-a-site-title-container">
      <span class="get-a-site-title">You have the next big idea?
      </span>
    </div>
    <div class="get-a-site-text-container">
      <span class="get-a-site-text">
        I offer a complete solution and cover all apsects from <strong>website</strong> development, <strong>business</strong> consulting to <strong>international</strong> expansion.
        <br>
        <br>
        I work with a <strong>global</strong> network of <strong>professionals</strong> and strive to meet every request.
      </span>
    </div>
    <div class="button-container">
      <%= link_to contact_path, class:"btn btn-lg simple-button", id:"get-in-touch" do%>
        <span class="button-text">
          Get in touch
        </span>
      <%end%>
    </div>
  </div>
</div>
