@import "bootstrap-sprockets";
@import "bootstrap";


$black-grey: #201f1f;
$orange: #f6a11f;
$light-grey: #eae6e2;
$grey: grey;



.eatCodeSleep, .get-quote{
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: $black-grey;
}

body, html{
  width: 100% !important;

}

body{
  overflow-y: hidden !important;
}

.page-content{
  margin-left: 0;
  height: 100%;
  overflow-y: scroll !important;
}

.get-quote{
  height: calc(100% - 60px) !important;
}

header{
  margin: 0 !important;
}

.eatCodeSleep{
  display: block;
  padding-top: 0px;
}

.orange{
  color: $orange !important;
  z-index: 10;
}

.italic{
  font-style: italic;
}

.white{
  color: white;
}

.medium-text{
  font-size: 2em
}

.slogan{
  padding: 30px 0;
  width: 100% !important;
  display: block;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 1px;
}

.build-together, .get-quote{
  position: relative;
  text-align: center;
  z-index: 1;
}

.build-together::before, .get-quote::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  opacity: .6;
  z-index: -1;
}

.build-together::before{
  background: url(gabriel.jpg);
}

.get-quote::before{
  background: url(cliff.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.8 !important;
}

.build-together-text-container{
  display: block;
  width:50%;
  position: relative;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);

}

.build-together-text{
  color:white !important;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
}

.simple-button:hover{
  background-color: white !important;
  border-radius: 0;
  .button-text {
    color:black;
  }
}

.button-text{
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  color:white;
}

.simple-button:hover{
  border: 2px solid white !important;
}

#go-to-site:hover, #contact-submit:hover{
  border: 2px solid $orange !important;
}

.new-project{
  width: 100%;
  clear: both;
  padding-top: 80px;
}

#get-in-touch{
  background-color: white !important;
  border: 1px solid $orange !important;
  margin-left: auto;
  margin-right: auto;
}

#get-in-touch .button-text{
  color: black !important;
  font-weight: 100;
}

.contact-title-container{
  width: 100%;
  text-align: center;
}

.contact{
  padding-top: 40px;
  background-color: $black-grey;
  height: 100%;
}

.contact-form-container{
  padding-top: 50px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;

}

.contact-input{
  background-color: transparent;
  border:0px;
  border-bottom: 1px solid $grey !important;
  width: 80%;
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
}

.contact-input-div-left{
  text-align: left !important;
}

.contact-input-div-center{
  text-align: center !important;
}

.contact-input-div-right{
  text-align: right !important;
}

.contact-input-label{
  color:$grey;
  position: absolute;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 900;
}

.budget-slider.ui-corner-all,
.budget-slider .ui-corner-all {
  border-radius: 0;
}

.budget-slider.ui-slider {
  border: 0;
  background: $grey;
  border-radius: 1px;
}

.budget-slider.ui-slider-horizontal {
  height: 5px;
}

.budget-slider.ui-slider-vertical {
  height: 15em;
  width: 30px;
}

.budget-slider .ui-slider-handle {
  width: 15px !important;
  height: 15px !important;
  background: $orange !important;
  border-radius: 1%;
  border: none !important;
  cursor: pointer;
  outline: none;
  margin-left: -13px !important;
}

.budget-slider.ui-slider-horizontal .ui-slider-handle {
  top: 50%;
  margin-top: -7.5px;
}

.budget-slider.ui-slider-vertical .ui-slider-handle {
  left: 50%;
  margin-left: -14.5px;
}

.budget-slider .ui-slider-handle:hover {
  opacity: .8;
}

.budget-slider .ui-slider-range {
  border: 0;
  border-radius: 1;
  background: white;
}

.budget-slider.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 5px;
}

.budget-slider.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 30px;
}

.contact-input-div-left, .contact-input-div-center, .contact-input-div-right{
  width: 33%;
  margin-right: -2px;
  display: inline-block;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

textarea:focus, input:focus, .simple-button:focus{
  outline: none;
}

#notice{
  font-size: 24px;
  color:white;
  width: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-left: auto;
  margin-right: auto;
  border: 1px solid $orange;
  text-align: center;
  padding: 10px;
  font-weight: 200;
  z-index: 400000;
}

.home-notice{
  top:60px !important; //homenavbar is absolute
}

.black{
  color:$black-grey !important;
}

#contact-submit-container{
  padding-bottom: 50px;
  padding-top: 0 !important;
}

#work-together-title{
  color: white !important;
  font-weight: 400;
  font-size: 28px;
  text-transform: uppercase;
}

body, html {
  height: 100% !important;
}

.contact-modal{
  width: 100%;
  height: 100% !important;
  position: fixed;
  top:-100%;
  left: 0;
  z-index: 2000;
  background-color: $black-grey;
  display: none;
  overflow:scroll;
}

.closebtn {
  position: absolute;
  top: 20px;
  transform: translate(-50%);
  right: 20px;
  font-size: 36px !important;
  margin-left: 50px;
  font-weight: 100 !important;
  color:white;
}

.closebtn:hover {
  color:$orange;
  text-decoration: none;
  background-color: transparent !important;
}

.slider{
  width: 100%;
  display: inline-block;
}

.slider-container{
  margin-top: 40px;
  margin-bottom: 40px;
}

#budget-slider{
  margin-left: 0px;
  width: 50%;
  display: inline-block;
}

#budget-number{
  display: inline-block !important;
  font-size: 18px;
  font-weight: 200;
}

.budget-number-container{
  padding-left: 20px;
  display: inline-block;

}

.additional-details-container{
}

#additional-details{
  width: 100% !important;
}
.input-row{
  width: 100%;
  text-align: center;
}

.button-container{
  width: 100%;
  text-align: center;
  padding-top: 30px;
}

.get-a-site-title{
  width:100%;
  font-size: 22px;
  color: $orange;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.get-a-site-title-container, .get-a-site-text-container{
  width: 100%;
  text-align: center;
}

.get-a-site-text-container{
  padding-top: 10px;
}

.get-a-site-text{
  width: 100%;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 100;
  text-transform: uppercase;
  line-height: 25px;
}

.simple-button{

  border-radius: 0 !important;
  background-color: Transparent !important;
  background-repeat:no-repeat !important;
  width: 275px !important;
  border: 2px solid $orange !important;
}

.carousel-item{
  height: 100%;
  width: 100%;
}

.massive-text{
  font-size: 148px;
  clear: both;
  height: calc(30% - 20px);
  padding-right: 40px;
  text-transform: uppercase;
  font-weight: 900;
  color: white;
}

a{
  color:$black-grey;
}

a:hover{
  color: $orange;
}

.float-right{
  float:right;
}

.my-title-container{
  height: 10%;
  clear: both;
  padding-top: 30px;
}

.my-name-small-screen{
  display: none;
}

.my-title, .my-name-small-screen{
  height: 100%;
  line-height: 30px;
  font-size: 1.5em;
  letter-spacing: 2px;
  color: white;
  padding-right: 40px;
  font-weight: 100;
  text-transform: uppercase;
  vertical-align: middle;
}

footer{
  width: 100%;
  height: 60px;
  background-color: white;
  border-bottom: 1px solid $light-grey;
}

.homepage-navbar{
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:60px !important;
  background-color: transparent;
  border-bottom: 1px solid $light-grey;
  z-index: 1000;
}

.homepage-navbar #contact-nav-item{
  border-width: 1px !important;
}

.navbar{
  position: fixed;
  border-radius: 0;
  width:100%;
  height:60px !important;
  background-color: white;
  border-bottom: 1px solid $light-grey;
  z-index: 1000;
  top:0;
}

.about-me-text-container{
  float: right;
  padding-left: 75px;
  padding-right: 75px;
  padding-top:75px;
  position: relative;
  width:60vw;
  height: calc(100vh - 60px);
  display: inline-block;
}

.white{
  color: white !important;
}

.my-places-text-container{
  float: left;
  padding-left: 75px;
  padding-right: 75px;
  padding-top:50px;
  position: relative;
  width:60vw;
  display: inline-block;
  height: calc(100vh - 60px);
}

.tab{
  display: inline-block;
  height: 100%;
  width: 150px;
  border-right: 1px solid $light-grey;
  text-align: center;
}

.nav-item{
  display: inline-block;
  height: 100%;
  width: 150px;
  text-align: center;
}

.nav-item-content{
  font-size: 14px;
  line-height: 60px;
  font-weight: 300;
  text-transform: uppercase;
  color:$black-grey;
}

#contact-nav-item{
  border: 1px solid orange;
  padding: 10px 30px;
  cursor: pointer;
}

.nav-item:hover{
  .nav-item-content{
    text-decoration: underline;
  }
}

.aboutme{
  height:calc(100vh - 60px);
  margin-top: 60px;
}

.my-places{
  position: relative;
  clear: both;
  height:calc(100vh - 60px) !important;
  top:0px;
}

.portfolio{
  padding: 40px;
  padding-top: 100px;
}

.project-image{
  width:100%;
  height: auto;
}

.project-image-container{
  width: 50%;
  display: inline-block;
  float: left;
}

.project-title-container{
  width:50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 30px;
}

.project-details-container{
  width:50%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  display: inline-block;
  float: right;
}

.feature-list{
  padding-top: 20px !important;
}

.key-features-title{
  font-size: 1.5em;
  font-weight: 100;
}

.feature{
  font-weight: 100;
  font-size: 18px;
  letter-spacing: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#go-to-site, #contact-submit{
  background-color: $orange !important;
  margin-top: 30px;
}

.about-me-image-container{
  width:40vw;
  height: 100%;
  display: inline-block;
  float: left;
}

.my-places-image-container{
  width:40vw;
  height: 100%;
  display: inline-block;
  float: right;
}

.about-me-title-container{
  width: 100%;
}

.page-title {
  font-size: 44px;
  color: $orange;
  font-weight: 100;
}

.hunter-prounounciation{
  font-weight: 100;
  font-size: 1.5em;
  padding-left: 20px;
}

.about-me-text, .my-places-text{
  display: inline-block;
  padding-top: 30px;
  font-size: 1.5em;
  letter-spacing: 2px;
  font-weight: 100;
}

.about-me-image, .my-places-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.square-tab{
  display: inline-block;
  width: 60px;
  border-left: 1px solid $light-grey;
  text-align: center;
}

.tab-content{
  height: 60px !important;
  line-height: 60px;
  text-transform: uppercase;
  color: $black-grey;
}

.align-right-container{
  height:60px;
  position: absolute;
  right: 0;
  font-size: 0;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
  width:60px !important;
  display: inline-block;
}

.carousel{
  width: 100vw;
  margin: 0;
}

.carousel-inner{
  width:100vw !important;
  height: calc(100vh - 60px);
  margin: 0;
}

.carousel-control{
  position:relative;
}

.fa-envelope-o, .fa-th-large, .fa-github, .fa-chevron-right, .fa-chevron-left{
  top:0;
  font-size: 28px !important;
  line-height: 60px !important;
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.fa-th-large, .fa-chevron-right, .fa-chevron-left{
  background-color: $black-grey;
  color:white;
}

.small-screen-menu{
  touch-action: none !important;
  height: 100%;
  width: 0px;
  margin:0 !important;
  padding: 0!important;
  padding-top: 30px !important;
  position: fixed;
  z-index: 10000000;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  background-color: $light-grey;
}

.small-screen-menu .closebtn {
  position: absolute !important;
  top: 0;
  right: 5px;
  font-size: 36px !important;
  margin-left: 50px;
  font-weight: 100 !important;
}

.small-screen-menu .small-screen-menu-item{
  width:100% !important;
  text-align: center;
  padding: 3px;
  text-transform: uppercase;
}

.menu-dropdown-tab{
  position: relative;
  left: 0;
  display: none;
  width:50px;
  text-align: center;
  margin: 0 !important;
}

.menu-dropdown-button:hover, .menu-dropdown-button:focus{
  color: $black-grey;
  background: none !important;
  border: 0px !important ;
}

strong{
  font-weight: 400 !important;
}

@media (max-width: 1140px) {
  .build-together-text-container{
    width:60%;
  }
}

@media (max-width: 950px) {
  .build-together-text{
    font-size: 30px;
  }
  .contact-form-container{
    width: 70%;
  }
}

@media (max-width: 890px) {
  .about-me-text-container, .my-places-text-container{
    padding: 40px;
  }
}

@media (max-width: 850px) {
  .project-image-container, .project-details-container{
    width: 100% !important;
  }
  .contact-form-container{
    width: 80%;
  }

  .project-details-container{
    padding-left: 0;
    padding-top: 60px;
  }

  .project-title-container{
    width: 100%;
  }

  .go-to-site-button-container{
    text-align: center;
  }
}

@media (max-width: 800px) {
  .my-title, .my-name-small-screen{
    font-size: 18px;
  }
}

@media (max-width: 750px) {
  .nav-item{
    width: 125px;
  }
  #contact-nav-item{
    padding: 8px 25px;
  }
  .simple-button{
    width: 200px !important;
    border-width: 1px !important;
  }
  .button-text{
    font-size: 12px;
    font-weight: 400;
  }

  .build-together-text{

  }

  .build-together-text-container{
    width:90%;
  }

  .about-me-text-container, .my-places-text-container{
    width: 70vw;
  }
  .about-me-image-container, .my-places-image-container{
    width: 30vw;
  }
}

@media (max-width: 650px) {
  .about-me-text, .my-places-text{
    font-size: 20px;
  }
  .contact-form-container{
    width: 70%;
  }
  .my-title{
    font-size: 15px;
  }
}

@media (max-width: 575px) {
  .contact-input-div-left, .contact-input-div-center, .contact-input-div-right{
    width: 100%;
    text-align: center !important;
  }

  .contact-input{
    width: 100%;
  }

  .closebtn{
    top: 5px;
    right: 5px;
  }

  #work-together-title{
    font-size: 18px;
    font-weight: 300;
  }
  .my-title, .my-name-small-screen{
    font-size: 12px;
  }
  .my-name{
    display: none;
  }
  .about-me-text-container, .my-places-text-container{
    padding: 20px !important;
  }

  .my-name-small-screen{
    display: inline-block;
    clear:both;
  }
  .massive-text{
    font-size: 100px;
  }
}

@media (max-width: 503px) {
  .about-me-text-container, .my-places-text-container, .aboutme, .my-places{
    height: calc(100vh - 40px) !important;
  }
  .aboutme{
    margin-top:40px !important;
  }
  .menu-dropdown-tab{
    display: inline-block;
  }
  header .align-right-container{
    display: none !important;
  }

  footer .align-right-container{
    height: 40px;
  }

  #navbar, .homepage-navbar{
    height: 40px !important;
    min-height: 40px !important;
  }

  .home-notice{
    top:40px !important; //homenavbar is absolute
  }

  footer{
    height: 40px !important;
  }
  .square-tab{
    width: 40px !important;
    height: 40px !important;
  }

  .fa-envelope-o, .fa-github{
    font-size: 22px !important;
    line-height: 40px !important;
  }

  .get-quote{
    height: calc(100% - 40px) !important;
  }
  .portfolio{
    padding: 20px;
    padding-top: 60px;
  }

  .budget-slider{
    width: 100% !important;
  }

  .budget-number-container{
    width: 100%;
    padding-left: 0;
    padding-top: 30px;
  }

  .budget-slider .ui-slider-handle {
    width: 26px !important;
    height: 26px !important;
  }

  .budget-slider.ui-slider .ui-slider-handle {
    top: 50%;
    margin-top: -13px;
  }

  .budget-slider.ui-slider {
    height: 8px;
  }

  .budget-slider.ui-slider .ui-slider-range {
    height: 8px;
  }
}

@media (max-width: 460px) {
  .about-me-text, .my-places-text{
    font-size: 18px;
  }
};

@media (max-width: 400px) {
  .about-me-image-container, .my-places-image-container{
    width: 100%;
    height: 200px;
  }
  .about-me-text-container, .my-places-text-container{
    width: 100%;
    height: 400px !important;
  }
  .about-me-text, .my-places-text{
    font-size: 14px !important;
  }
  .page-title{
    font-size: 36px !important;
  }
  .hunter-prounounciation{
    font-size: 18px !important;
  }
  .my-title, .my-name-small-screen{
    font-size: 11px !important;
    padding-right: 20px;
  }

  .massive-text{
    font-size: 90px;
    padding-right: 20px;
  }
};

@media (max-width: 320px) {
  .my-title, .my-name-small-screen{
    font-size: 10px;
  }
  .massive-text{
    font-size: 80px;
  }
};

@media (max-width: 290px) {
  .about-me-text-container, .my-places-text-container{
    width: 100%;
    height: 500px !important;
  }
};
