<footer>
  <div class="footer-div">
    <span class="email-address"><i class="fa fa-envelope general-icon"></i><a href="mailto:gabrielm.jaeger@yahoo.de" class="email-link"><span class="email-address-text small-text">gabrielm.jaeger@yahoo.de</span></a></span><a class="" href="https://www.linkedin.com/in/gabriel-jaeger-167811117" target="_blank"><span class="linkedin"><i class="fa fa-linkedin-square general-icon"></i><span class="linkedin-text small-text">www.linkedin.com/in/gabriel-jaeger</span></span></a><span class="copyright small-text">&copy Copyright GABRIELJAEGER</span></span>
  </div>
</footer>
