<footer>
  <span class="align-right-container">
    <a class="carousel-control left" href="#mainCarousel" role="button" data-slide="prev">
      <span class="square-tab">
        <i class="fa fa-chevron-left"></i>
        <span class="sr-only">Previous</span>
      </span>
    </a>
    <a class="carousel-control right" href="#mainCarousel" role="button" data-slide="next">
      <span class="square-tab">
        <i class="fa fa-chevron-right"></i>
        <span class="sr-only">Next</span>
      </span>
    </a>

    <span class="square-tab">

    </span>
    <a href="mailto:gabrieljaeger1@gmail.com">
      <span class="square-tab">
        <i class="fa fa-envelope-o"></i>
      </span>
    </a>
    <a href="https://github.com/gjjaeger">
      <span class="square-tab">
        <i class="fa fa-github"></i>
      </span>
    </a>
  </span>
</footer>
