<footer>
  <span class="align-right-container">
    <a href="mailto:gabrieljaeger1@gmail.com">
      <span class="square-tab">
        <i class="fa fa-envelope-o"></i>
      </span>
    </a>
    <a href="https://github.com/gjjaeger">
      <span class="square-tab">
        <i class="fa fa-github"></i>
      </span>
    </a>
  </span>
</footer>
