<header class="navbar">
  <span class="align-right-container">
    <%= link_to home_path do%>
      <div class="nav-item"><span class="nav-item-content">Home</span></div>
    <%end%>
    <%= link_to about_path do%>
      <div class="nav-item"><span class="nav-item-content">About me</span></div>
    <%end%>
    <%= link_to portfolio_path do%>
      <div class="nav-item"><span class="nav-item-content">Portfolio</span></div>
    <%end%>
    <div class="nav-item"><span class="nav-item-content" id="contact-nav-item">Contact</span></div>
  </span>
</header>
